/* Please ❤ this if you like it! */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary ================================================== */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
    color: #fff;
    background-color: #a91b0c;
}
::-moz-selection {
    color: #fff;
    background-color: #a91b0c;
}


/* #Navigation ================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 5px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
    height: 28px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: 52px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #a91f0c !important;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #ff2b12;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}

/* #Primary style ================================================== */

.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}

.up-height {
    height: auto;
    margin-top: 80px;
}
.over-hide {
    overflow: hidden;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(255, 43, 18, 0.6);
}

body.dark{
    color: #fff;
    background-color: #1f2029;
}

body.dark p{
    color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
    background-color: #14151a !important;
}
body.dark .start-header {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
    color: #fff !important;
}
body.dark .nav-item.active .nav-link{
    color: #999 !important;
}
body.dark .dropdown-menu {
    color: #fff;
    background-color: #1f2029;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
    color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
    border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before{
    background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}


/* Votre code ici ================================================== */


.eveneur{
    margin-top: 5%;
    margin-bottom: 15%;
}

/* = @media queries  info
===========================*/
body:before {
    margin: 1em;
}

@media (min-width: 980px) {
    body:before {
        content: "";
        color: black;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    body:before {
        content: "";
        color: black;
    }
}

@media (max-width: 767px) {
    body:before {
        content: "";
        color: black;
    }
}

@media (max-width: 480px) {
    body:before {
        content: "";
        color: black;
    }
}
/*    Basic
================*/

*,*:after,*:before {
    box-sizing: border-box;
}
/*  PLACEHOLDER
----------------------*/
::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder {
    color: #FFF;
}

::-moz-placeholder {
    color: #FFF;
}

:-ms-input-placeholder {
    color: #FFF;
}
/*  SCROLLBAR
-------------------*/
::-webkit-scrollbar {
    width: 0.2em;
    background: #e74c3c;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #fff;
}
/*  SELECTION
-------------------*/
::selection {
    background: #999;
    color: #fff;
}

::-moz-selection {
    background: #999;
    color: #fff;
}
/* === Links Styles === */
.eve {
    text-decoration: underline;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.eve:hover {
    text-decoration: none;
}

.eve:focus {
    outline: 0;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}
/*  Layout
=======================*/

.wrapper {
    margin: 5% auto;
    display: block;
    width: 96%;
    height: 100%;
    padding: 0;
}

.wrapper:before {
    content: "";
    display: table;
}

.wrapper_inner {
    padding: 0.2em;
    margin: 0;
}

.gallery {
}

.gallery_item {
    float: left;
    width: 24.59%;
    display: inline-block;
    margin: 0 auto;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background: #FFF;
    border: 1px solid #F3F0F0;
    position:relative;
    -webkit-box-shadow: 0 1px 2px #AFAFAF;
    -moz-box-shadow: 0 1px 2px #AFAFAF;
    box-shadow: 0 1px 2px #AFAFAF;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.gallery_item_preview {
    background: #fff;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery_item_preview a {
    position: relative;
    display: inline-block;
    padding: 0;
    color: #333;
    text-decoration: none;
    overflow: hidden;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery_item_preview a:hover {
    color: #777;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gallery_item_preview a svg.gallery_top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50px;
    stroke:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gallery_item_preview a:hover  svg.gallery_top{
    top:-10em;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gallery_hide_top{
    top:-10em !important;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery_item_preview a:before {
    content: "Click to view";
    position: absolute;
    top: 0.5em;
    left: -30em;
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.99);
    color: #ff2b12;
    padding: 0.56em 1em;

    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.gallery_item_preview a:hover:before {
    left: 0.5em;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.gallery_item_preview a h3 {
    margin-top: 2%;
    font-family: 'Leckerli One', cursive;
}

.gallery_item_preview a img {
    display: block;
    width: 100%;
    height: 150px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery_item_full {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 100;
    overflow: hidden;
}

.gallery_item_full img {
    display: block;
    width:75%;
}

.box {
    margin: auto;
    background: #FFF;
    padding: 2em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 50%;
    text-align: left;
    border: 1px solid #DADADA;
}

.box h3 {
    margin-top: 2%;
    font-family: 'Leckerli One', cursive;
    color: #ff2b12;
}

.cl {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: #777;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
}

.cl:hover {
    color: #ff2b12;
}
/*  Responsive video
=============================*/
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*  list style
=============================*/
.icon_list {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    line-height: 0.4em;
    background: #000;
    color: #fff;
    border: 1px solid #C2C2C2;
    font-size: 13px!important;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    position: absolute;
    right: 0.3em;
    /*top: 0.3em;*/
    word-break: break-all;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.icon_list:hover {
    background: #f55;
    color: #fff;
    border-color: #f11;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.icon_list_open {
    background: #f55 !important;
    color: #fff !important;
}

.gallery_item_list {
    float: none !important;
    display: block !important;
    width: 50%;
    margin: auto;
    margin-top: 0.5em;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gallery_line {
    width: 130px !important;
    height: 100px !important;
    display: inline-block !important;
    float: left !important;
    margin-right: 1em !important;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*  Simple animation
=======================*/
.efIn {
    -webkit-animation: fx_in 0.65s 1 ease-in-out;
    -moz-animation: fx_in 0.65s 1 ease-in-out;
    -ms-animation: fx_in 0.65s 1 ease-in-out;
    -o-animation: fx_in 0.65s 1 ease-in-out;
    animation: fx_in 0.65s 1 ease-in-out;
}

.efOut {
    -webkit-animation: fx_out 0.7s 1 ease-in-out;
    -moz-animation: fx_out 0.7s 1 ease-in-out;
    -ms-animation: fx_out 0.7s 1 ease-in-out;
    -o-animation: fx_out 0.7s 1 ease-in-out;
    animation: fx_out 0.7s 1 ease-in-out;
}




/*  Keyframes
==============*/
@-webkit-keyframes fx_in {
    from {
        width: 0;
        height: 0;
        -webkit-border-radius: 100%;
        opacity: 0;
    }

    50% {
        -webkit-box-shadow: inset 0 0 0 0  #fff;
    }

    to {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fx_out {
    from {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 0;
        -webkit-box-shadow: inset 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        -webkit-box-shadow: inset 0 0 0 80em  #fff;
    }

    to {
        width: 0;
        height: 0;
        -webkit-border-radius: 100%;
        opacity: 0;
    }
}

/* moz */
@-moz-keyframes fx_in {
    from {
        width: 0;
        height: 0;
        -moz-border-radius: 100%;
        opacity: 0;
    }

    50% {
        -moz-box-shadow: inset 0 0 0 0  #fff;
    }

    to {
        width: 100%;
        height: 100%;
        -moz-border-radius: 0;
        opacity: 1;
    }
}

@-moz-keyframes fx_out {
    from {
        width: 100%;
        height: 100%;
        -moz-border-radius: 0;
        -moz-box-shadow: inset 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        -moz-box-shadow: inset 0 0 0 80em  #fff;
    }

    to {
        width: 0;
        height: 0;
        -moz-border-radius: 100%;
        opacity: 0;
    }
}

/* o */
@-o-keyframes fx_in {
    from {
        width: 0;
        height: 0;
        -o-border-radius: 100%;
        opacity: 0;
    }

    50% {
        -o-box-shadow: inset 0 0 0 0  #fff;
    }

    to {
        width: 100%;
        height: 100%;
        -o-border-radius: 0;
        opacity: 1;
    }
}

@-o-keyframes fx_out {
    from {
        width: 100%;
        height: 100%;
        -o-border-radius: 0;
        -o-box-shadow: inset 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        -o-box-shadow: inset 0 0 0 80em  #fff;
    }

    to {
        width: 0;
        height: 0;
        -o-border-radius: 100%;
        opacity: 0;
    }
}

/* ms */
@-ms-keyframes fx_in {
    from {
        width: 0;
        height: 0;
        -ms-border-radius: 100%;
        opacity: 0;
    }

    50% {
        -ms-box-shadow: inset 0 0 0 0  #fff;
    }

    to {
        width: 100%;
        height: 100%;
        -ms-border-radius: 0;
        opacity: 1;
    }
}

@-ms-keyframes fx_out {
    from {
        width: 100%;
        height: 100%;
        -ms-border-radius: 0;
        -ms-box-shadow: inset 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        -ms-box-shadow: inset 0 0 0 80em  #fff;
    }

    to {
        width: 0;
        height: 0;
        -ms-border-radius: 100%;
        opacity: 0;
    }
}

@keyframes fx_in {
    from {
        width: 0;
        height: 0;
        border-radius: 100%;
        opacity: 0;
    }

    50% {
        box-shadow: inset 0 0 0 0  #fff;
    }

    to {
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 1;
    }
}

@keyframes fx_out {
    from {
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: inset 0 0 0 0 #fff;
        opacity: 1;
    }

    50% {
        box-shadow: inset 0 0 0 80em  #fff;
    }

    to {
        width: 0;
        height: 0;
        border-radius: 100%;
        opacity: 0;
    }
}



/* Large desktop */
@media (min-width: 980px) {

    .gallery_item_list {
        width: 50% !important;
    }

    .gallery_item {
        width: 24.45%;
    }

    .gallery_item_preview a img {
        height: 180px;
    }
    .box {
        width: 70%;
        max-height: 800px;
    }
    .cl {
        top: 10%;
        right: 5em;
    }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .wrapper {
        margin-top: 10%;
    }
    .eveneur{
        margin-top: 15%;
        margin-bottom:10%;
    }
    .icon_list {
        right: 5em;
    }

    .gallery_item_list {
        width: 60% !important;
    }

    .gallery_item {
        width: 32.83%;
    }


    .gallery_item_preview a img {
        height: 180px;
    }

    .box {
        width: 70%;
        max-height: 550px;
    }
    .cl {
        top: 15%;
        right: 12em;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .wrapper {
        margin-top: 10%;
    }
    .eveneur{
        margin-top: 20%;
    }
    .gallery_item_list {
        width: 70% !important;
    }

    .gallery_item {
        width: 49.3%;
    }

    .gallery_item_preview a img {
        height: 180px;
    }

    .box {
        margin: auto;
        padding: 4em 1em 1em 1em;
        width: 80%;
        height: 500px;
    }

    .cl {
        top: 15%;
        right: 6em;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .gallery_item_list {
        width: 100% !important;
    }

    .gallery_item {
        width: 100%;
    }

    .gallery_item_preview a img {
        height: 200px;
    }

    .box {
        background: #F8F8F8;
        padding: 4em 1em 1em 1em;
        width: 100%;
        height: 500px;
    }

    .cl {
        top: 15%;
        right: 6em;
    }

    .gallery_item_list {
        width: 100% !important;
    }

}




/* Footer ================================================== */
#footer {
    padding-bottom: 2%;
    text-align: center;
    text-transform: uppercase;
}
#footer {
    background: black !important;
}
/*#footer h5{
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}*/
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
/*#footer ul.quick-links li{
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}*/
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}




/* #Media ================================================== */

@media (max-width: 767px) {
    .nav-item:after{
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    body.dark .nav-item::before {
        background-color: #fff;
    }
    body.dark .dropdown-toggle::after {
        background-color: #fff;
    }
    body.dark .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
}