/* Please â¤ this if you like it! */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');



/* #Primary ================================================== */



body{

    font-family: 'Poppins', sans-serif;

    font-size: 16px;

    line-height: 24px;

    font-weight: 400;

    color: #212112;

    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');

    background-position: center;

    background-repeat: repeat;

    background-size: 7%;

    background-color: #fff;

    overflow-x: hidden;

    transition: all 200ms linear;

}

::selection {
    color: #fff;
    background-color: #a91b0c;
}
::-moz-selection {
    color: #fff;
    background-color: #a91b0c;
}


/* #Navigation ================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 5px 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
    height: 28px;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar{
    padding: 0;
}
.navbar-brand img{
    height: 52px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
    top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}
.nav-link{
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
    color: #a91f0c !important;
}
.nav-item.active .nav-link{
    color: #777 !important;
}
.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}
.nav-item:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #ff2b12;
    opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
    bottom: 0;
    opacity: 1;
}
.nav-item.active:hover:after{
    opacity: 0;
}
.nav-item{
    position: relative;
    transition: all 200ms linear;
}

/* #Primary style ================================================== */

.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}

.up-height {
    height: auto;
    margin-top: 80px;
}
.over-hide {
    overflow: hidden;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(255, 43, 18, 0.6);
}

body.dark{
    color: #fff;
    background-color: #1f2029;
}

body.dark p{
    color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
    background-color: #14151a !important;
}
body.dark .start-header {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
    color: #fff !important;
}
body.dark .nav-item.active .nav-link{
    color: #999 !important;
}
body.dark .dropdown-menu {
    color: #fff;
    background-color: #1f2029;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
    color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
    border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before{
    background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}


/* Votre code ici ================================================== */


a {
    color: #fff;
}

.gal {
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    padding: 0;
    clear: both;
}
.gal img {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.gallery ul li {
    float: left;
    margin: 0 0.8771929825%;
    overflow: hidden;
}

header {
    background-color: #ff2b12;
    color: #fff;
    text-align: center;
    padding: 40px 0 40px;
    margin-top: 3%;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
}
header h1 span {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
    line-height: 1;
}
header p {
    padding-top: 30px;
}

.gallery {
    padding: 40px 0 300px;
    position: relative;
    overflow: hidden;
}
.gallery ul {
    padding-top: 50px;
    position: relative;
}
.gallery ul li {
    margin-bottom: 20px;
    width: 23.2456140351%;
    position: relative;
}
.gallery ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.gallery ul li a:before {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -16px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
    content: "";
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
    top: 50%;
    opacity: 1;
}
.gallery ul li a:after {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
    opacity: 1;
}

.port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: #ffffff;
    background-color: #fafafa;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    border-bottom: 1px solid #d0d0d0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.port img {
    width: 50%;
}
.port .description {
    float: left;
    width: 50%;
    max-height: 100%;
    padding: 0 40px 40px;
    overflow: auto;
}
.port h1 {
    font-size: 35px;
    line-height: 2.3;
    padding: 0;
}
.port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.close {
    width: 21px;
    height: 21px;
    background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
    position: absolute;
    right: 10px;
    top: -121px;
    opacity: 1;
    z-index: 1004;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.item_open .close {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.carousel-indicators{
    display: none;
}
.toto {


    text-align: justify;
}






/* Footer ==================================================*/

#footer {

    padding-bottom: 2%;

    text-align: center;

    text-transform: uppercase;

}

#footer {

    background: black !important;

}

#footer a {

    color: #ffffff;

    text-decoration: none !important;

    background-color: transparent;

    -webkit-text-decoration-skip: objects;

}

#footer ul.social li{

    padding: 3px 0;

}

#footer ul.social li a i {

    margin-right: 5px;

    font-size:25px;

    -webkit-transition: .5s all ease;

    -moz-transition: .5s all ease;

    transition: .5s all ease;

}

#footer ul.social li:hover a i {

    font-size:30px;

    margin-top:-10px;

}

#footer ul.social li a,

#footer ul.quick-links li a{

    color:#ffffff;

}

#footer ul.social li a:hover{

    color:#eeeeee;

}


#footer ul.quick-links li a i{

    margin-right: 5px;

}

#footer ul.quick-links li:hover a i {

    font-weight: 700;

}



@media (max-width:767px){

    #footer h5 {

        padding-left: 0;

        border-left: transparent;

        padding-bottom: 0px;

        margin-bottom: 10px;

    }

}









/* #Media ================================================== */



@media (max-width: 767px) {

    .nav-item:after{

        display: none;

    }

    .nav-item::before {

        position: absolute;

        display: block;

        top: 15px;

        left: 0;

        width: 11px;

        height: 1px;

        content: "";

        border: none;

        background-color: #000;

        vertical-align: 0;

    }

    .dropdown-toggle::after {

        position: absolute;

        display: block;

        top: 10px;

        left: -23px;

        width: 1px;

        height: 11px;

        content: "";

        border: none;

        background-color: #000;

        vertical-align: 0;

        transition: all 200ms linear;

    }

    .dropdown-toggle[aria-expanded="true"]::after{

        transform: rotate(90deg);

        opacity: 0;

    }

    .dropdown-menu {

        padding: 0 !important;

        background-color: transparent;

        box-shadow: none;

        transition: all 200ms linear;

    }

    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {

        margin-top: 10px !important;

        margin-bottom: 20px !important;

    }

    body.dark .nav-item::before {

        background-color: #fff;

    }

    body.dark .dropdown-toggle::after {

        background-color: #fff;

    }

    body.dark .dropdown-menu {

        background-color: transparent;

        box-shadow: none;

    }

}
